#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# Individual Spellqueue module configuration
########################################
#
#    IndividualSpellQueue.Enable
#        Description: Enable module
#        Default: 1 - Enabled
#                 0 - Disabled
#

IndividualSpellQueue.Enable = 1

#    IndividualSpellQueue.Default
#        Description: Default
#        Default:     400 - Blizzard Default
#
#    IndividualSpellQueue.MinWindow
#        Description: Minimum window
#        Default:     100
#
#    IndividualSpellQueue.MaxWindow
#        Description: Maximum window
#        Default:     600

#    IndividualSpellQueue.LatencyDefault
#        Description: Set latency compensation by default
#        Default:     0 - Disabled
#                     1 - Enabled
#

IndividualSpellQueue.Default = 400
IndividualSpellQueue.MinWindow = 100
IndividualSpellQueue.MaxWindow = 600
IndividualSpellQueue.LatencyDefault = 0
